<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.eclipsesource.tabris.lottie.example"
        version="1.0.0"
        android-packageName="com.eclipsesource.tabris.lottie.example"
        android-versionCode="1">
  <name>Lottie for Tabris.js</name>
  <description>Example for the Tabris.js Lottie plugin.</description>
  <author email="tabris@eclipsesource.com" href="https://tabris.com">EclipseSource</author>

  <preference name="EnableDeveloperConsole" value="true" />

  <plugin name="tabris-plugin-lottie" spec="https://github.com/eclipsesource/tabris-plugin-lottie.git#update-version" />

  <platform name="android">

    <edit-config file="app/src/main/AndroidManifest.xml" target="/manifest/application" mode="merge">
      <application android:usesCleartextTraffic="true" />
    </edit-config>

    <resource-file src="res/android/values/lottie_themes.xml"
                   target="app/src/main/res/values/lottie_themes.xml" />

    <preference name="Theme" value="@style/Theme.Lottie" />

  </platform>

</widget>
